<p id="notice"><%= notice %></p>

<h1>Posts</h1>

<%= current_user.email %>
<!-- 로그아웃 버튼 
 <a href="/users/sign_out" data-method="delete">로그아웃</a> 
-->
 <%= link_to '로그아웃', destroy_user_session_path, method: :delete %>


<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Content</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><%= post.title %></td>
        <td><%= post.content %></td>
        <td><%= link_to 'Show', post %></td>
        <td><%= link_to 'Edit', edit_post_path(post) %></td>
        <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Post', new_post_path %>
